In [5]:
import fonctions as f

In [6]:
df = f.pd.read_csv("data.csv", index_col=0)
df

,DATE,RR,DRR,TN,HTN,TX,HTX,TM,TMNX,TNSOL,...,BRUME,ECLAIR,ETPMON,ETPGRILLE,UV,TMERMAX,TMERMIN,HNEIGEF,NEIGETOTX,NEIGETOT06
POSTE,,,,,,,,,,,,,,,,,,,,,
1014002,20230105,"3,4",NaN,"6,9",1816.0,"10,8",1331.0,"8,7","8,85",NaN,...,NaN,NaN,NaN,"0,1",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20230106,"0,0",NaN,"5,6",814.0,"8,6",1159.0,"7,2","7,10",NaN,...,NaN,NaN,NaN,"0,3",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20230107,"8,0",NaN,"6,7",2209.0,"13,8",1241.0,"10,1","10,25",NaN,...,NaN,NaN,NaN,"1,7",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20230108,"17,8",NaN,"7,3",455.0,"10,7",1300.0,"9,1","9,00",NaN,...,NaN,NaN,NaN,"0,6",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20230109,"9,6",NaN,"1,6",1302.0,"5,0",1150.0,"4,0","3,30",NaN,...,NaN,NaN,NaN,"0,2",NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014002,20241027,"0,2",NaN,"5,7",633.0,"21,9",1354.0,"13,3","13,80",NaN,...,NaN,NaN,NaN,"1,1",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20241028,"0,2",NaN,"6,7",546.0,"21,9",1236.0,"12,6","14,30",NaN,...,NaN,NaN,NaN,"1,3",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20241029,"0,4",NaN,"6,4",2251.0,"21,7",1236.0,"12,0","14,05",NaN,...,NaN,NaN,NaN,"1,1",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20241030,"0,2",NaN,"4,9",632.0,"21,8",1253.0,"11,0","13,35",NaN,...,NaN,NaN,NaN,"1,2",NaN,NaN,NaN,NaN,0.0,0.0
1014002,20241031,"0,0",NaN,"2,9",657.0,"20,2",1341.0,"9,4","11,55",NaN,...,NaN,NaN,NaN,"1,2",NaN,NaN,NaN,NaN,0.0,0.0